body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

input:focus {
    outline: none;
}

.menuItem > input:focus {
    width: 600px;
}

.menuItem > input:focus ~ i.inputIcon {
    transform: rotate(180deg);
}

.menuItem > input:focus ~ .dropdown {
    display: grid;
    max-height: 350px;
    overflow: hidden;
    overflow-y: scroll;
}

@media (max-width: 768px) { 

    body {
        padding: 5px;
    }

    .menuItem > input:focus {
        width: fit-content;
    }
 }